
body{
   margin: 0px 0px;
}
.header{
   background-color: black;
   margin: 0px;
}
.header__box{
   display: flex;
   justify-content: space-between;
   width: 75%;
   margin: 0 auto;
}
.header__box-navigation{
   display: flex;
   padding: 0px;
   margin: 0px;
   list-style: none;
   align-items: center;
   text-align: center;
}
.header__box-navigation-item{
   width: 195px;
   padding-top: 41px;
   padding-bottom: 41px;
}
.header__box-navigation-item a{
   text-decoration: none;
   width: 100%;
   height: 100%;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   font-size: 16px;
   color: #FFFFFF;
   letter-spacing: 0.12em;
   text-transform: uppercase;
   padding-top: 41px;
   padding-bottom: 41px;
}
.header__box a{
   padding-top: 21px;
}

.boxes{
background-image: url("../image/unsplash_NTYYL9Eb9y8.svg");
background-repeat:no-repeat;
padding-top: 100px;
padding-bottom: 100px;
}

.boxes__conteiner{
   width: 65%;
   margin: 0 auto;
   padding-bottom: 50px;
   background-color: black;
   
   

}
.boxes__conteiner-title{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   font-size: 54px;
   color: #FD7D54;
   letter-spacing: 0.3em;
   text-align: center;
   padding-top: 51px;
   margin-top: 0px;
   margin-bottom: 18px;
}
.boxes__conteiner-subtitle{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   color: #FFFFFF;
   letter-spacing: 0.03em;
   text-align: center;
   margin-top: 0px;
   padding-bottom: 40px;
}

.boxes__conteiner-area{
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   width: 90%;

}

.boxes__conteiner-area-card{
   margin-left: 23px;
   margin-right: 23px;
   padding: 46px 0px 25px 0px;
   list-style: none;
   align-items: center;
   text-align: center;
   border: 4px solid #FFFFFF;
}
.boxes__conteiner-area-card-img{
   width: 127px;
   padding-bottom: 16px;
}
h2{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   letter-spacing: 0.12em;
   font-variant: small-caps;
   color: #FFFFFF;
   margin-bottom: 0px;
}
.boxes__conteiner-area-card-line{

   border: 1px solid #FFFFFF;
   margin: 5% 45%;


}

.boxes__conteiner-area-card-description{
   width: 90%;
   margin: 0px 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.boxes__conteiner-area-card-bottom{
   margin-top: 20px;
}
.boxes__conteiner-area-card-bottom a{
   text-decoration-line: none;

   padding: 10px 20px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   letter-spacing: 0.12em;
   font-variant: small-caps;
   color: #41C3F7;
}

.footer{
   background-color: black;
}
.footer__conteiner{
   padding: 15px 0px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: 0.1em;

}

.footer__conteiner a{
   text-decoration-line: none;
   color: #FFFFFF;
}