body{
   margin: 0;
   padding: 0;
}

/*Header*/

.header{
   display: flex;
   justify-content: space-between;
   background: #202846;
   padding-right: 30px;
}
.header__logo{
   width: 140px;
   padding-top: 5px;
   padding-left: 100px;
}
.header__navigation{
   display: flex;
   width: 70%;
   margin: 8px 0px;

}

.header__navigation li, .header__navigation a{
   list-style: none;
   text-decoration: none;
   width: 18%;
   text-align: center;
   font-family: 'PT Sans', sans-serif;
   font-style: normal;
font-weight: 700;
font-size: 14px;
color: #FFFFFF;
}

.header__navigation-item{
   border-right: 1px solid #FFFFFF;
   padding-top: 9px;
}
.header__navigation-lang{
   display: flex;
   justify-content: center;
}
.header__navigation-lang img{
   width: 45px;
}

/*box*/
/*box title*/
.box__titlepage{
   height: 100px;
   background: #C6C6DC;
   margin: 0;
}

.box__titlepage h1{
   margin: 0 12%;
   font-family: 'PT Sans';
   font-style: italic;
   font-weight: 400;
   font-size: 40px;
   color: #202846;
   display: flex;
   height: 100%;
   align-items: center;
}

/*box content Pro nas*/
.box__content{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background-color: #E5E5E5;
   padding-bottom: 28px;

}
.box__content-title{
   font-family: 'PT Sans';
   color: #FFFFFF;
   background-image: url(../img/Rectangle\ 39.svg);
   background-size: 100%;
   background-color: rgba(0, 0, 0, 0.596);
   width: 80%;
   text-align: center;
   padding: 26px 0px;
   margin: 23px 0px;
}
.box__content-title p {
   padding: 0% 16%;
font-style: italic;
font-weight: 400;
font-size: 24px;
}
.box__content h2 {
   padding: 0% 16%;
font-style:normal;
font-weight: 600;
font-size: 32px;
}

.box__content-description{
   width: 80%;
   background: #CBCBCB;
   font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
color: #202846;
}
.box__content-description p{
   padding: 44px 74px;
}
.box__content p, .box__content h2 {
   margin: 0;
}

/*footer*/

.footer{
   height: 60px;
   display: flex;
   justify-content: left;
   align-items: center;
   padding-left: 75px;
   font-family: 'PT Sans';
font-style: italic;
font-weight: 300;
font-size: 20px;
background-color: #202846;
}
.footer a{
   color: #EEECF1;
   text-decoration: none;
}


/*box content page kabinet*/
.box{
   background-color: #E5E5E5;
   padding-bottom: 30px;
}

.box__table{
   display: flex;
   justify-content: center;
   width: 60%;
   background-color: #BDBDC6;
   align-items: center;
   margin: 0px 20%;
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 10px;
}

.box__table-iconcontainer{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 37%;
   
}
.box__table-iconcontainer a{
   text-decoration: none;
   padding: 6px 30px;
   font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
color: #FFFFFF;
}

.box__table-iconcontainer img{
   width: 150px;
}
.box__table-iconcontainer-bottomavatar, .box__table-iconcontainer-bottomsettings{
   width: 180px;
   height: 35px;
   text-align: center;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box__table-iconcontainer-bottomavatar{
   background-color: #69749B;
   margin: 20px 0px;
}
.box__table-iconcontainer-bottomsettings{
   background-color: #484A54;
}

.box__table-info{
   width: 60%;
}

.box__table-info ul{
   list-style: none;
   font-family: 'PT Sans';
font-style: italic;
font-weight: 800;
font-size: 20px;
color: #353C57;
}
.box__table-info li{
      padding: 12px 5px;
      margin-right: 10%;
}
.box__table-info-item{
   border-bottom: 2px solid #FFFFFF;
}
.box__table-info span{
   font-weight: 500;
}

.box__bottom{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   background-color: #202846;
   width: 145px;
   height: 40px;
   margin: 0% 40%;

}
.box__bottom a{
   text-decoration: none;
   font-family: 'PT Sans';
   font-style: normal;
   padding: 7px 46px;
font-weight: 400;
font-size: 17px;
color: #FFFFFF;
}

/*box content page kontakt*/

.box__container{
width: 60%;
margin: 0 20%;
}
.box__container-firstline, .box__container-twoline{
   display: flex;
   justify-content: center;
   
}
.box__container-info{
width: 30%;
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
margin: 0 50px ;
}
.box__container-info a{
   text-decoration: none;
   color: #000000;
}
.box__container-info p{
   margin: 0;
   text-align: center;
}
.box__container-info h2{
   font-weight: 400;
   font-size: 18px;
   margin: 10px 0px;
   padding: 0px 8px;
   border-bottom: 2px solid #202846;
}
.box__container-map{
   width: 58%;
   padding-left: 45px;
}
.box__container-map img{
   width: 410px;
}
.box__container-firstline, .box__container-twoline{
   margin-top: 35px;
}
.box__container-twoline h2{
   padding-top: 10px;
}